body {
    background-color: #574b4b;
  }
  h0{
    position: absolute;
width: 400px;
height: 400px;
left: 539px;
top: 67px;

background: #F6F7FB;
border-radius: 10px;
  }
 h1{ position: absolute;
width: 400px;
height: 101px;
left: 539px;
bottom: 600px;

background: #415392;
border-radius: 10px;
 }
 h2{
    position: absolute;
width: 260px;
height: 70px;
left: 623px;
top: 20px;
color: #d3d3d3;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 25px;
 }
 h3{
    position: absolute;
width: 121px;
height: 55px;
left: 670px;
top: 388px;

background: #415392;
border-radius: 10px;
 }
 h4{
    position: absolute;
width: 119px;
height: 38px;
left: 682px;
top: 407px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
 }
 h5{
    position: absolute;
width: 270px;
height: 0px;
left: 633px;
top: 242px;

transform: rotate(0.22deg);
 }
