body {
    background-color: #d3d3d3;
  }
  h0{
    position: absolute;
width: 344px;
height: 400px;
left: 539px;
top: 67px;

background: #F6F7FB;
border-radius: 10px;
  }
 h1{ position: absolute;
width: 344px;
height: 101px;
left: 539px;
bottom: 600px;

background: #415392;
border-radius: 10px;
 }
 h2{
    position: absolute;
width: 260px;
height: 58px;
left: 623px;
top: 90px;
color: #d3d3d3;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
 }
 h3{
    position: absolute;
width: 121px;
height: 45px;
left: 645px;
top: 388px;

background: #415392;
border-radius: 10px;
 }
 h4{
    position: absolute;
width: 99px;
height: 38px;
left: 682px;
top: 407px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
 }
 h5{
    position: absolute;
width: 263px;
height: 0px;
left: 633px;
top: 242px;

transform: rotate(0.22deg);
 }
